/* Tags */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    margin: 0;
    background-color: #ccc;
}

h1 {
    background-color: #ddd;
    font-size: 32pt;
    padding: 15px 0 15px 30px;
    border-radius: 15px;
}

h2 {
    background-color: #ccc;
    font-size: 24pt;
    padding: 10px 0 10px 20px;
    border-radius: 10px;
    margin: 0;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
}

/* Ids e classes e talzz */

.container {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

#principal {
    background-color: #fff;
    width: 640px;
    float: left;
    box-sizing: border-box;
}

#cidade p {
    text-indent: 4ch;
}

#populacao p {
    font-size: 18pt;
    text-align: center;
}

#fotos {
    display: block;
    padding: auto;
}

#fotos ul {
    display: block;
    list-style: none;
    padding: 0;
}

#fotos li {
    display: inline-block;
    border: 2px solid #333;
    box-sizing: border-box;
    width: 280px;
    height: 220px;
    margin: 10px;
}

#fotos img {
    width: 260px;
    height: 190px;
}

#fotos figure {
    margin: 10px;
}

#fotos figcaption {
    display: none;
}

#fotos figcaption:hover {
    display: block;
}

#secundario {
    background-color: blue;
    width: 280px;
    height: 200px;
    float: right;
    box-sizing: border-box;
}

#rodape {
    background-color: #333;
    display: block;
    height: 40px;  
    clear: both;
    color: #fff;
}
