body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.menu {
    border-bottom: 1px #000 solid;
    padding-bottom: 10px;
}

.menu p {
    display: inline;
}

.categorias {
    padding-left: 0;
    list-style: none;
    display: inline;
    margin-left: 0;
}

.categorias li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px #000 solid;
}

.categorias .fim-categorias {
    border-right: none;
}

.categorias a {
    color: green;
    text-decoration: none;
}

.categoria {
    background-color: #ccc;
    width: 100%;
    height: 180px;
    margin: 10px 0;
    box-sizing: border-box;
}

.categoria h2 {
    font-weight: normal;
    font-size: 12pt;
    display: inline-block;
    margin-top: 0;
    margin-left: 15px;
    padding: 10px;
}

#aventura {
    background-color: yellow;
}

#drama {
    background-color: orange;
}

#ficcao {
    background-color: aqua;
}